{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "TimeTableApp/css/TimeTableApp.dist.css" %}">
    <script src="{% static "TimeTableApp/js/TimeTableApp.dist.js" %}"></script>
{% endblock extra_head %}

{% block main_content %}

<div ng-app="TimeTableApp">
    <div ng-view></div>
</div>

{% endblock main_content %}

{% block extra_javascript %}
<script>
    // Bootstrap Django data for angular
    window.jsBootstrap = {};
    window.jsBootstrap.calendarListUrl = "{% url "time_table:calendar_list_create" %}";
    window.jsBootstrap.eventListUrl = "{% url "time_table:event_create" %}";
    window.jsBootstrap.eventUpdateUrl = "{% url "time_table:event_access" event_id=0 %}";
    window.jsBootstrap.voteCreateUrl = "{% url "time_table:vote_create" %}";
    window.jsBootstrap.commentCreateUrl = "{% url "time_table:comment_create" %}"
    window.jsBootstrap.tagTypes = [{% for type in tag_types %}"{{type}}",{% endfor %}];
    window.jsBootstrap.staticUrl = "{% static "" %}";
    window.jsBootstrap.userId = "{{ user.id }}";
</script>
{% endblock %}
