<md-dialog aria-label="Event Modal">
    <md-content id="createEventModal">
        <h2>{{ modalData.modalTitle }}</h2>
        <form>
            <div class="row radio-label" ng-show="shouldShowField('calendar') || shouldShowField('tagType')">
                <label ng-show="shouldShowField('calendar')" ng-class="{error: modalData.eventData.errors.calendar}">Calendar</label>
                <label ng-show="shouldShowField('tagType')" ng-class="{error: modalData.eventData.errors.tagType}">Event Type</label>
            </div>
            <div class="row">
                <md-radio-group ng-model="modalData.eventData.calendar" ng-show="shouldShowField('calendar')" ng-change="selectCalendar()">
                    <md-radio-button ng-disabled="shouldDisabledField('calendar')" ng-repeat="calendar in modalData.calendars" ng-value="calendar" aria-label="{{ calendar.name }}">
                        {{ calendar.name }}
                    </md-radio-button>
                </md-radio-group>
                <md-radio-group ng-model="modalData.eventData.tagType" ng-show="shouldShowField('tagType')">
                    <md-radio-button ng-disabled="shouldDisabledField('tagType')" ng-repeat="tag in modalData.tagTypes" ng-value="tag" aria-label="{{ tag }}">
                        {{ tag }}
                    </md-radio-button>
                </md-radio-group>
            </div>
            <md-text-float label="Type Number" ng-disabled="shouldDisabledField('tagNumber')" hasErrors="{{modalData.eventData.errors.tagNumber}}" ng-show="shouldShowField('tagNumber')" ng-model="modalData.eventData.tagNumber"> </md-text-float>
            <md-text-float label="Event Title" ng-disabled="shouldDisabledField('title')" hasErrors="{{modalData.eventData.errors.title}}" ng-show="shouldShowField('title')" ng-model="modalData.eventData.title"> </md-text-float>
            <div class="row">
                <md-text-float label="Start Date" ng-disabled="shouldDisabledField('startDay')" hasErrors="{{modalData.eventData.errors.startDay}}" ng-show="shouldShowField('startDate')" ng-model="modalData.eventData.startDay"> </md-text-float>
                <md-text-float label="Start Time" ng-disabled="shouldDisabledField('startTime')" hasErrors="{{modalData.eventData.errors.startTime}}" ng-show="shouldShowField('startTime')" ng-model="modalData.eventData.startTime"> </md-text-float>
            </div>
            <div class="row">
                <md-text-float label="End Date" ng-disabled="shouldDisabledField('endDay')" hasErrors="{{modalData.eventData.errors.endDay}}" ng-show="shouldShowField('endDate')" ng-model="modalData.eventData.endDay"> </md-text-float>
                <md-text-float label="End Time" ng-disabled="shouldDisabledField('endTime')" hasErrors="{{modalData.eventData.errors.endTime}}" ng-show="shouldShowField('endTime')" ng-model="modalData.eventData.endTime"> </md-text-float>
            </div>
            <md-switch aria-label="allDay" ng-disabled="shouldDisabledField('allDay')" ng-show="shouldShowField('allDay')" ng-model="modalData.eventData.allDay">
                All day event
            </md-switch>
        </form>

        <md-list ng-show="shouldShowField('alternateTimes')">
            <h4>Other Suggested Times</h4>
            <md-item ng-repeat="item in modalData.alternateTimes">
                <md-item-content>
                    <div class="md-tile-left">
                        <section layout="row" layout-phone="column" layout-align="center center">
                            <md-button ng-click="voteOnAlternative(item, 1)" ng-disabled="item.userVote === 1" class="md-raised md-primary">+</md-button>
                            <md-button ng-click="voteOnAlternative(item, -1)" ng-disabled="item.userVote === -1" class="md-raised md-warn">-</md-button>
                        </section>
                    </div>
                    <div class="md-tile-content">
                        <h3>Start: {{item.startFormatted}}</h3>
                        <h3>End: {{item.endFormatted}}</h3>
                        <h3>Votes: {{item.voteTotal}}</h3>
                    </div>
                </md-item-content>
          </md-item>
        </md-list>

        <md-list id="CommentList" ng-show="shouldShowField('comments')">
            <h4>Comments</h4>
            <md-item ng-repeat="item in modalData.comments">
                <md-item-content>
                    <div class="md-tile-content">
                        <h3>"{{item.comment}}"</h3>
                        <h4>-{{item.user}}</h4>
                    </div>
                </md-item-content>
            </md-item>
            <form>
                <md-text-float id="CommentInput" label="Comment" hasErrors="{{modalData.eventData.errors.tagNumber}}" ng-model="modalData.newComment"> </md-text-float>
                <md-button id="CommentSubmit" ng-click="addComment()" class="md-raised md-primary">Add Comment</md-button>
            </form>

        </md-list>
    </md-content>
    <div class="md-actions modal-buttons">
        <md-button ng-disabled="isSaveDisabled()" ng-click="save()" ng-if="!(modalData.eventData.calendar.isAppCalendar && !modalData.eventChanged)">{{ modalData.saveButtonText }}</md-button>
        <md-button ng-click="cancel()">Cancel</md-button>
    </div>
</md-dialog>
