<md-dialog aria-label="Event Modal">
    <md-content id="createEventModal">
        <h2>{{ modalData.modalTitle }}</h2>
        <form>
            <div class="row radio-label" ng-show="shouldShowField('calendar') || shouldShowField('tagType')">
                <label ng-show="shouldShowField('calendar')">Calendar</label>
                <label ng-show="shouldShowField('tagType')">Event Type</label>
            </div>
            <div class="row">
                <md-radio-group ng-model="modalData.eventData.calendar" ng-show="shouldShowField('calendar')" ng-change="selectCalendar()">
                    <md-radio-button ng-repeat="calendar in modalData.calendars" ng-value="calendar" aria-label="{{ calendar.name }}">
                        {{ calendar.name }}
                    </md-radio-button>
                </md-radio-group>
                <md-radio-group ng-model="modalData.eventData.tagType" ng-show="shouldShowField('tagType')">
                    <md-radio-button ng-repeat="tag in modalData.tagTypes" ng-value="tag" aria-label="{{ tag }}">
                        {{ tag }}
                    </md-radio-button>
                </md-radio-group>
            </div>
            <md-text-float label="Type Number" ng-show="shouldShowField('tagNumber')" ng-model="modalData.eventData.tagNumber"> </md-text-float>
            <md-text-float label="Event Title" ng-show="shouldShowField('title')" ng-model="modalData.eventData.title"> </md-text-float>
            <div class="row">
                <md-text-float label="Start Date" ng-show="shouldShowField('startDate')" ng-model="modalData.eventData.startDay"> </md-text-float>
                <md-text-float label="Start Time" ng-show="shouldShowField('startTime')" ng-model="modalData.eventData.startTime"> </md-text-float>
            </div>
            <div class="row">
                <md-text-float label="End Date" ng-show="shouldShowField('endDate')" ng-model="modalData.eventData.endDay"> </md-text-float>
                <md-text-float label="End Time" ng-show="shouldShowField('endTime')" ng-model="modalData.eventData.endTime"> </md-text-float>
            </div>
            <md-switch aria-label="allDay" ng-show="shouldShowField('allDay')" ng-model="modalData.eventData.allDay">
                All day event
            </md-switch>
        </form>
        <p ng-show="shouldShowField('alternateTimes')">events</p>
        <p ng-show="shouldShowField('alternateTimes')">{{ modalData.alternateTimes }}</p>
        <p ng-show="shouldShowField('comments')">comments</p>
        <p ng-show="shouldShowField('comments')">{{ modalData.comments }}</p>
    </md-content>
    <div class="md-actions modal-buttons">
        <md-button ng-disabled="isSaveDisabled()" ng-click="save()">Save</md-button>
        <md-button ng-click="cancel()">Cancel</md-button>
    </div>
</md-dialog>